.btnClass{
	background-color:#99BFE3;
	font: 8pt verdana;
	color:#050170;
	}

A{
	text-decoration:none;
	color:blue;

}
A:hover{
	text-decoration:underline;

}

.SLTextField{
	width:400px;
	font-family:arial;
	font-size:12px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL1TextField{
	width:115px;
	font-family:arial;
	font-size:12px;
	border:solid #336699 1px;
	background:#FFFFFF
}
.SL2TextField{
	width:200px;
	font-family:arial;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.SLSPTAXTextField{
	width:175px;
	font-family:arial;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL3TextField{
	width:200px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 1px;
	background:#FFFFFF
}
.SL4TextField{
	width:225px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL5TextField{
	width:85px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL5TextField1{
	width:95px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL5TextField2{
	width:65px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL6TextField{
	width:174px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL6TextField1{
	width:160px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL6TextField11{
	width:65px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL7TextField{
	width:305px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL8TextField{
	width:212px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL9TextField{
	width:165px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL10TextField{
	width:190px;
	font-family:arial;
	font-size:9px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL11TextField{
	width:78px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL12TextField{
	width:54px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL13TextField{
	width:200px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL14TextField{
	width:183px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL15TextField{
	width:85px;
	font-family:arial;
	font-size:10px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL16TextField{
	width:100px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL17TextField{
	width:140px;
	font-family:arial;
	font-size:11px;
        text-align:left;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL171TextField{
	width:185px;
	font-family:arial;
	font-size:12px;
        text-align:left;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL18TextField{
	width:132px;
	font-family:arial;
	font-size:11px;
        text-align:left;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL19TextField{
	width:52px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL191TextField{
	width:42px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL19TextField1{
	width:85px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL20TextField{
	width:75px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL201TextField{
	width:85px;
        text-align:left;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL21TextField{
	width:120px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL22TextField{
	width:95px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL23TextField{
	width:155px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL24TextField{
	width:240px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL25TextField{
	width:160px;
	font-family:arial;
	font-size:11px;
        text-align:left;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL26TextField{
	width:415px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL27TextField{
	width:44px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL28TextField{
	width:195px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL29TextField{
	width:90px;
	font-family:arial;
	font-size:9px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL30TextField{
	width:142px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL31TextField{
	width:200px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL32TextField{
	width:298px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL33TextField{
	width:85px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL34TextField{
	width:500px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL35TextField{
	width:120px;
	font-family:arial;
	font-size:9px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL36TextField{
	width:600px;
	font-family:arial;
	font-size:11px;
        text-align:left;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL37TextField{
	width:125px;
	font-family:arial;
	font-size:11px;
	font-weight: bold;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL38TextField{
	width:125px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL39TextField{
	width:30px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL391TextField{
	width:45px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL40TextField{
	width:90px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL41TextField{
	width:620px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL41TextField1{
	width:620px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB;
        font-weight: bold;
        text-decoration:underline;
}
.SL42TextField{
	width:160px;
        text-align:left;
	font-family:arial;
	font-size:10px;
	font-weight: bold;
	border:solid #06689E 0px;
	background:#EBEBEB;
        text-decoration:underline;
}
.SL43TextField{
	width:60px;
        text-align:left;
	font-family:arial;
	font-size:10px;
	font-weight: bold;
	border:solid #06689E 0px;
	background:#EBEBEB;
        text-decoration:underline;
}
.SL44TextField{
	width:40px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	font-weight: bold;
	border:solid #06689E 0px;
	background:#EBEBEB;
        text-decoration:underline;
}
.SL45TextField{
	width:80px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	font-weight: bold;
	border:solid #06689E 0px;
	background:#EBEBEB;
        text-decoration:underline;
}
.SL45TextField1{
	width:610px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	font-weight: bold;
	border:solid #06689E 0px;
	background:#EBEBEB;
        text-decoration:underline;
}
.SL46TextField{
	width:500px;
	font-family:arial;
	font-size:11px;
        text-align:left;
	border:solid #06689E 0px;
	background:#EBEBEB;
}
.SL47TextField{
	width:200px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL48TextField{
	width:300px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL49TextField{
	width:150px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL50TextField{
	width:250px;
	font-family:arial;
	font-size:11px;
        text-align:left;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL51TextField{
	width:85px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	font-weight: bold;
	background:#EBEBEB;
}
.SL511TextField{
	width:50px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	font-weight: bold;
	background:#EBEBEB;
}
.SL51TextField1{
	width:85px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	font-weight: bold;
	background:#EBEBEB;
        text-decoration:underline;
}
.SL51TextField11{
	width:120px;
	font-family:arial;
	font-size:14px;
        text-align:center;
	border:solid #06689E 0px;
	font-weight: bold;
	background:#EBEBEB;
        text-decoration:underline;
}

.SL52TextField{
	width:165px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	font-weight: bold;
	background:#EBEBEB
}
.SL53TextField{
	width:420px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL54TextField{
	width:635px;
	font-family:arial;
	font-size:10px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL55TextField{
	width:500px;
        text-align:left;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL56TextField{
	width:150px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL57TextField{
	width:30px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL58TextField{
	width:125px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL59TextField{
	width:40px;
	font-family:arial;
	font-size:11px;
        text-align:center;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL60TextField{
	width:165px;
	font-family:arial;
	font-size:10px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL61TextField{
	width:150px;
	font-family:arial;
	font-size:10px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL62TextField{
	width:34px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL63TextField{
	width:75px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL64TextField{
	width:180px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL65TextField{
	width:620px;
	font-family:arial;
        text-align:right;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL66TextField{
	width:88px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.SL67TextField{
	width:120px;
        text-align:center;
	font-family:arial;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL68TextField{
	width:420px;
	font-family:arial;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL69TextField{
	width:90px;
	font-family:arial;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL70TextField{
	width:300px;
	font-family:arial;
	font-size:12px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL70TextFieldDub{
	width:402px;
	font-family:arial;
	font-size:12px;
	border:solid black 1px;
	background:#FFFFFF
}

.SLC707TextField{
        width:157px;
        font-family:arial;
        font-size:12px;
        border:solid black 1px;
        background:#FFFFFF;
}
.SL71TextField{
	width:320px;
	font-family:arial;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL72TextField{
	width:70px;
	font-family:arial;
        text-align:center;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL73TextField{
	width:350px;
	font-family:arial;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL74TextField{
	width:300px;
	font-family:arial;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL75TextField{
	width:90px;
	font-family:arial;
        text-align:center;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL76TextField{
	width:20px;
	font-family:arial;
        text-align:center;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL77TextField{
	width:395px;
	font-family:arial;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.SLNumField{
	width:50px;
	font-family:arial;
	font-size:12px;
	border:solid black 1px;
	background:#FFFFFF
}

.txtFldLbl{
	font-family:arial;
	font-size:18pt;
	color:Green;
}

.MLTextField {
	width:400px;
	height:70px;
	font-family:arial;
	font-size:12px;
	border:solid black 1px;
	background:#FFFFFF
}

.MLTextField {
	width:200px;
	height:50px;
	font-family:arial;
	font-size:11px;
	border:solid black 1px;
	background:#FFFFFF
}
.ML1TextField {
	width:140px;
	height:150px;
        cols:10;
        rows:10;
        wrap:virtual;
        scroll:no;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.ML2TextField {
	width:170px;
	height:100px;
        cols:10;
        rows:10;
        wrap:virtual;
        scroll:no;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.ML3TextField {
	width:140px;
	height:100px;
        cols:10;
        rows:10;
        wrap:virtual;
        scroll:no;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.ML4TextField {
	width:280px;
	height:100px;
        cols:10;
        rows:10;
        wrap:virtual;
        scroll:no;
	font-family:arial;
	font-size:10px;
	font-weight: bold;
	border:solid #000000 0px;
	background:#EBEBEB
}
.ML5TextField {
	width:210px;
	height:160px;
        cols:10;
        rows:10;
        wrap:virtual;
        scroll:no;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.ML6TextField {
	width:325px;
	height:70px;
        cols:10;
        rows:10;
        wrap:virtual;
        scroll:no;
	font-family:arial;
	font-size:10px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.ML7TextField {
	width:190px;
	height:130px;
        cols:10;
        rows:10;
        wrap:virtual;
        scroll:no;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.ML8TextField {
	width:900px;
	height:200px;
        cols:10;
        rows:10;
        wrap:virtual;
        scroll:no;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 0px;
	background:#EBEBEB
}
.ML9TextField {
	width:200px;
	height:70px;
        cols:10;
        rows:10;
        wrap:virtual;
        scroll:no;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 1px;
	background:#FFFFFF
}
.ML10TextField {
	width:420px;
	height:70px;
        cols:10;
        rows:10;
        wrap:virtual;
        scroll:no;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 1px;
	background:#FFFFFF
}
.ML11TextField {
	width:300px;
	height:70px;
        cols:10;
        rows:10;
        wrap:virtual;
        scroll:no;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 1px;
	background:#FFFFFF
}
.ML12TextField {
	width:320px;
	height:70px;
        cols:10;
        rows:10;
        wrap:virtual;
        scroll:no;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 1px;
	background:#FFFFFF
}
.MLTextFieldUserSelect {
	width:300px;
	height:70px;
	font-family:arial;
	font-size:12px;
	border:solid black 1px;
	background:#FFFFFF
}
.SLTextFieldListBox{
	width:200px;
	font-family:arial;
	font-size:12px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL1TextFieldListBox{
	width:200px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 1px;
	background:#FFFFFF
}
.SL2TextFieldListBox{
	width:420px;
	font-family:arial;
	font-size:12px;
	border:solid black 1px;
	background:#FFFFFF
}
.SL3TextFieldListBox{
	width:300px;
	font-family:arial;
	font-size:11px;
	border:solid #06689E 1px;
	background:#FFFFFF
}
.SL4TextFieldListBox{
	width:320px;
	font-family:arial;
	font-size:12px;
	border:solid black 1px;
	background:#FFFFFF
}
.SLTextFieldReport{
	width:250px;
	font-family:arial;
	font-size:12px;
	border:solid black 1px;
	background:#FFFFFF
}


